@using AnimalShelter.Models;
@model List<AnimalShelter.Models.Animal>;

<h1>Animals</h1>

<ul>
  @foreach(Animal animal in Model)
  {
      <li>@Html.ActionLink($"{animal.Name}", "Details", new { id = animal.AnimalId })</li>
      //add breed, doa, and gender
  }
</ul>

<p>@Html.ActionLink("Add new animal", "Create")</p>